/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Roboto', sans-serif;
		font-size: 17px;

		@apply bg-background-50 text-text-800;
	}
}
