
/* Global CSS variables */
[data-theme="dark"] {
	--background-color: #1c1b1b;
	--card-background-color: #424242;
	--card-sectionning-background-color: #2e2e2e;
	--side-nav-background-color: #272626;
}

:root {
	--spacing-company: 3rem;
	--font-weight: 400;
	// --font-family: 'Ubuntu', sans-serif;
	--font-family: 'Roboto', sans-serif;
	--border-radius: 0;
	/** Colors **/
	/* --primary: #f4511e;
	--secondary: #394046; */
}

body {
	width: 100%;
	margin: 0;
}

/* Typography */
h2,
h3,
hgroup > :last-child {
	font-weight: 200;
}

small {
	color: var(--muted-color);
}

/* Header */
.hero {
	background-color: #394046;
	background-image: url("/images/sascha-eremin-DNQ-M93tHmA-unsplash-3000x1000.jpg");
	background-position: center;
	background-size: cover;
}

header {
	padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
	color: var(--h3-color);
}

header hgroup {
	margin-bottom: var(--spacing-company);
}

/* Nav */
.mobile-nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	
	aside {
		height: 100vh;
		width: 50vw;
		max-width: 15em;
		background-color: var(--side-nav-background-color);
		padding: 1em 1em 1em 1em;
		box-shadow: 0px 1px 5px 3px var(--background-color);
	}

	&[aria-hidden="true"] {
		display: none;
	}
}

nav {
	@if map-get($breakpoints, "sm") {
		&[aria-label="main-nav"] {
			ul {
				@media (max-width: map-get($breakpoints, "md")) {
					&.brand {
						display: flex;
						justify-content: space-between;
						width: inherit;
					}

					&[aria-label="menu"] {
						display: none;
					}
				}
			}
		}
	}

	[aria-label="brand"] {
		font-family: 'Ubuntu', system-ui, sans-serif;
	}
}

summary[role="link"].contrast:is([aria-current],:hover,:active,:focus) {
	background-color: transparent;
	color: var(--contrast-hover);
}

/* Main */
@media (min-width: 992px) {
	main .grid {
		grid-column-gap: var(--spacing-company);
		grid-template-columns: auto 25%;
	}
}

form.grid {
	grid-row-gap: 0;
}

/* Aside nav */
aside img {
	margin-bottom: 0.25rem;
}

aside p {
	margin-bottom: var(--spacing-company);
	line-height: 1.25;
}


/** more classess **/
.hidden-sm {
	@media (max-width: map-get($breakpoints, "sm")) {
		display: none;
	}
}
@if map-get($breakpoints, "sm") {

	.show-sm-only {
		@media (min-width: map-get($breakpoints, "md")) {
			display: none;
		}
	}
}