/* Global CSS variables */
[data-theme='dark'] {
	--background-color: #1c1b1b;
	--card-background-color: #424242;
	--card-sectionning-background-color: #2e2e2e;
	--side-nav-background-color: #272626;
}

:root {
	--spacing-company: 3rem;
	--font-weight: 400;
	// --font-family: 'Ubuntu', sans-serif;
	--font-brand: 'Ubuntu', system-ui, sans-serif;
	--font-family: 'Roboto', sans-serif;
	--font-heading: 'Space Grotesk', sans-serif;
	--font-body: 'Open Sans', sans-serif;
	--font-size: 1rem;
	--font-weight: 500;
	--border-radius: 0.4rem;
	/** Colors **/
	//  --primary: blue;
	// --secondary: #394046;
	// --nav-background-color: var(--primary);
}

body {
	width: 100%;
	margin: 0;
	font-family: var(--font-body);
}

/* Typography */
h2,
h3,
hgroup > :last-child {
	font-weight: 200;
}

small {
	color: var(--muted-color);
}

/* Header */
.hero {
	background-color: #394046;
	background-image: url('/images/sascha-eremin-DNQ-M93tHmA-unsplash-3000x1000.jpg');
	background-position: center;
	background-size: cover;

	header {
		h2 {
			font-family: var(--font-family);
		}
	}
}

header {
	padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
	color: var(--h3-color);
}

header hgroup {
	margin-bottom: var(--spacing-company);
}

/* Nav */
.mobile-nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;

	aside {
		height: 100vh;
		width: 50vw;
		max-width: 15em;
		background-color: var(--side-nav-background-color);
		padding: 1em 1em 1em 1em;
		box-shadow: 0px 1px 5px 3px var(--background-color);
	}

	&[aria-hidden='true'] {
		display: none;
	}
}

nav {
	@if map-get($breakpoints, 'sm') {
		&[aria-label='main-nav'] {
			ul {
				@media (max-width: map-get($breakpoints, 'md')) {
					&.brand {
						display: flex;
						justify-content: space-between;
						width: inherit;
					}

					&[aria-label='menu'] {
						display: none;
					}
				}
			}
		}
	}

	[aria-label='brand'] {
		font-family: var(--font-brand);
	}

	[role='navigation'] {
		display: flex;
		gap: 1.5rem;

		a {
			font-family: var(--font-body);
			font-weight: var(--font-weight);
			font-size: var(--font-size);
			border-bottom: 1px solid transparent;
			padding: 0;
			color: var(--primary-inverse);

			&:hover {
				border-bottom-color: var(--primary);
			}
		}
	}
}

summary[role='link'].contrast:is([aria-current], :hover, :active, :focus) {
	background-color: transparent;
	color: var(--contrast-hover);
}

/* Main */
@media (min-width: 992px) {
	main .grid {
		grid-column-gap: var(--spacing-company);
		grid-template-columns: auto 25%;
	}
}

form.grid {
	grid-row-gap: 0;
}

/* Aside nav */
aside img {
	margin-bottom: 0.25rem;
}

aside p {
	margin-bottom: var(--spacing-company);
	line-height: 1.25;
}

/** more classess **/
.hidden-sm {
	@media (max-width: map-get($breakpoints, 'sm')) {
		display: none;
	}
}
@if map-get($breakpoints, 'sm') {
	.show-sm-only {
		@media (min-width: map-get($breakpoints, 'md')) {
			display: none;
		}
	}
}

/* SERVICE PAGES CLASSES */
.service-highlight-container {
	display: flex;
	flex-direction: column;
}
.service-content-wrapper {
	display: flex;
	gap: 2rem;
	@media (max-width: map-get($breakpoints, 'lg')) {
		flex-direction: column;
	}
	div {
		width: 50%;
		@media (max-width: map-get($breakpoints, 'lg')) {
			width: 100%;
		}
		&:nth-child(1) {
			p {
				margin: 0;
				&:nth-child(1) {
					font-size: 14px;
					letter-spacing: 1px;
					color: var(--primary);
				}
				&:nth-child(2) {
					font-size: 50px;
					line-height: 60px;
					@media (max-width: map-get($breakpoints, 'lg')) {
						font-size: 40px;
					}
				}
			}
		}
		&:nth-child(2) {
			line-height: 28px;
			color: var(--secondary);
		}
	}
}
.service-image-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin-top: 3rem;
	div {
		img {
			width: 340px;
			height: 240px;
			border-radius: 0.25rem;
		}
		div {
			display: flex;
			gap: 1rem;
			align-items: center;
			padding: 1rem 0;
			img {
				width: 35px;
				height: fit-content;
			}
			p {
				margin: 0;
				font-size: 1.2rem;
			}
		}
	}
}
.service-container {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	div {
		&:nth-child(1) {
			p {
				margin: 0;
				&:nth-child(1) {
					font-size: 14px;
					letter-spacing: 1px;
					color: var(--primary);
				}
				&:nth-child(2) {
					font-size: 50px;
					line-height: 60px;
					@media (max-width: map-get($breakpoints, 'lg')) {
						font-size: 40px;
					}
				}
			}
		}
		&:nth-child(2) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 3rem;
			margin-top: 3rem;
			article {
				width: 340px;
				height: 300px;
				margin: 0;
				padding: 2rem;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				@media (max-width: map-get($breakpoints, 'lg')) {
					width: 300px;
				}
				img {
					width: 60px;
					height: fit-content;
				}
				p {
					margin: 0;
					&:nth-child(2) {
						font-size: 1.2rem;
						margin: 1rem 0 0.5rem 0;
					}
					&:nth-child(3) {
						line-height: 30px;
						color: var(--secondary);
					}
				}
			}
		}
	}
}
.service-page-cta {
	background-color: var(--primary);
	padding: 2.5rem;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: map-get($breakpoints, 'md')) {
			flex-direction: column;
			align-items: start;
			gap: 2rem;
		}
		p {
			margin: 0;
			color: #fff;
			font-size: 28px;
		}
		a {
			font-size: 17px;
		}
	}
}
